.buttons-container {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.submit {
    margin-right: 10%;
}

.submit, .reset {
    font-weight: bold;
    padding: 6px 18px;
    width: 30%;
    border: none;
    background-color: #04aa6d;
    color: white;
    border-radius: 5px;
    font-size: large;
    cursor: pointer;
}

.submit:hover, .reset:hover {
    background-color: #44485a;
    transform: scale(1.07);

}